<h1>New Review</h1>
 
<%= form_for @review do |f| %>
 
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :review_type %><br>
    <%= f.text_field :review_type %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>

<%= link_to 'Back', admin_reviews_path %>
